*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
hot
*.swp
*.swo
*.log
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
dist
lib
elasticsearch-*
config/base.yaml
*.gz
.vscode
site/bisheng-pc.config.js
site/bisheng-wap.config.js
commands/config.json
_site-dev/
site-dev.zip
mock
test
testComponent
package-lock.json